*{
margin: 0;
padding:0;
box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.flex-container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.ex2{
    display: flex;
    gap: 20px;

}
.ex2 img{
    width: 150px;
    height: 200px;
}
.imagen{
    height: 15rem;
    width: 15rem;
    transition: border 0.5s;
}

